PORT = <port number>
DB_URL = <mongodb url>
CLOUDINARY_CLOUD_NAME = <cloudinary cloud name>
CLOUDINARY_API_KEY = <cloudinary api key>
CLOUDINARY_API_SECRET = <cloudinary api secret>

SMTP_PASSWORD = <smtp password>
SMTP_USERNAME = <smtp username>
EMAIL_FROM = <email from>
SMTP_HOST = <smtp host>
SMTP_PORT = <smtp port>
RAZORPAY_KEY_ID = <razorpay key id>
RAZORPAY_KEY_SECRET = <razorpay key secret>

ZOOM_ACCOUNT_ID = <zoom account id>
ZOOM_CLIENT_ID = <zoom client id>
ZOOM_CLIENT_SECRET = <zoom client secret>

JWT_ACCESS_SECRET=<jwt access secret key>
JWT_ACCESS_EXPIRATION_MINUTES=<jwt access expiration in minutes>
JWT_VERIFICATION_SECRET=<jwt verification secret key>
JWT_VERIFICATION_EXPIRATION_MINUTES=<jwt verification expiration in minutes>
JWT_REFRESH_SECRET=<jwt refresh secret key>
JWT_REFRESH_EXPIRATION_DAYS=<jwt refresh expiration in days>
NODE_ENV=development